@model GrillOut.Models.Events

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Events</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CityStateZip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CityStateZip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDelivered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDelivered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPickedUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPickedUp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
