@model IEnumerable<GrillOut.Models.Events>

@{
    ViewData["Title"] = "CustomersEvents";
}

<h2>Your Events</h2>

<p>
    <a asp-controller="Packages" asp-action="Create">Create A GrillOut</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityStateZip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelivered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPickedUp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityStateZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelivered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPickedUp)
            </td>
            <td>
                <a asp-controller="Events" asp-action="EventMap" asp-route-id="@item.EventsId">View Map</a> 
            </td>
        </tr>
}
    </tbody>
</table>
