@model IEnumerable<GrillOut.Models.Events>

@{
    ViewData["Title"] = "EmployeesEvents";
}

<h2>Your Claimed Events</h2>

<p>
  
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityStateZip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelivered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPickedUp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityStateZip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDelivered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPickedUp)
                </td>
                <td>
                    <a asp-controller="Packages" asp-action="Details" asp-route-id="@item.Id">Package Details</a> |
                    <a asp-action="MarkDelivered" asp-route-id="@item.Id">Mark Delivered</a> |
                    <a asp-action="MarkPickedUp" asp-route-id="@item.Id">Mark Picked Up</a> |
                    <a asp-controller="Events" asp-action="EventMap" asp-route-id="@item.Id">Location</a> |
                    <a asp-controller="Employees" asp-action="EventDirections" asp-route-id="@item.Id">Directions</a> |
                    <a asp-controller="Events" asp-action="DistanceMatrix" asp-route-id="@item.Id">Estimated Delivery Time</a> |
                    <a asp-action="SendDepartureEmailAsync" asp-route-id="@item.Id">Depart</a>
                </td>
            </tr>
        }
    </tbody>
</table>

